{% extends 'base/main.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="text-capitalize text-center">
            Error: <small>{{ error }}</small>
        </h1>
    </div>
{% endblock %}