<table border="0" cellpadding="0" cellspacing="0" style="background: #eaeaea; border: .01rem solid #ccc; box-sizing: border-box; width: 60rem; padding: .5rem; border-radius: .3rem;" align="center">
	<thead>
	<tr style="height: 2rem;">
		<th align="center">
			<font style="font-size: 2rem;text-transform: uppercase;">Nova Mensagem</font>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr style="height: 2rem;">
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td width="50%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td width="15%">
									<font style="font-weight: bold; text-transform: uppercase;">Nome:</font>
								</td>
								<td>{{ name }}</td>
							</tr>
							</tbody>
						</table>
					</td>
					<td width="50%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td width="15%">
									<font style="font-weight: bold; text-transform: uppercase;">Email:</font>
								</td>
								<td>{{ email }}</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr style="height: 2rem;">
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td width="10%">
						<font style="font-weight: bold; text-transform: uppercase;">Assunto:</font>
					</td>
					<td>{{ subject }}</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr style="height: 2rem;">
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td>
						<font style="font-weight: bold; text-transform: uppercase;">Mensagem:</font>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr style="height: 2rem;">
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td>{{ message }}</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>